*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url('https://media.gettyimages.com/id/676763241/photo/empty-studio-background.jpg?s=612x612&w=0&k=20&c=qk9-79hVknUdTpq365fA9jLE-TLiPIu4zT-qxVHCi04=') no-repeat;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e3e3e3;
}

h1 {
    font-size: 36px;
    color: #060a15;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.device {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    /* Последний элемент в списке не должен иметь границу снизу */
}

.device:last-child {
    border-bottom: none;
}

.device h2 {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.device p {
    margin: 5px 0;
    font-size: 14px;
}

/* Отдельный класс для значений, чтобы выделить их */
.value {
    font-weight: bold;
    color: #495057;
}
